*{
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: cadetblue;
    box-shadow: 0 0 10px gray;
   text-align: center;
}
h1{
    font-size: 24px;
    margin-bottom: 10px;
    color: whitesmoke;
}
p{
    font-size: 16px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 5px

}
button{
    background-color:  rgb(167, 196, 196);
    color: black;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(61, 94, 94);
    color: azure;
}
#address-info{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(167, 196, 196);
    border-radius: 5px;
    border: 1px solid
}